{%load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Welcome to Equizzy</title>
    
   

    <link href="{%static 'proj1/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static 'proj1/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{%static 'proj1/owl.css' %}">
    <link rel="stylesheet" href="{%static 'proj1/lightbox.css' %}">



  </head>

<body>


   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>e</em>Quizzy</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">About Us</a></li>
        <li><a href="#section3">Courses</a></li>
        <li><a href="#section4">Our Team</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <!-- <li><a href="#">Contact</a></li> -->
        <li><a  href="/users/login" class="external" >
            <span class="pe-1 external">Login/Register</span>
            <i class="fa-solid fa-right-to-bracket fa-2xl external" style="color: #ffffff;"></i>
            
        </a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'proj1/images/course-video.mp4'%}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Personalized Quiz Portal</h6>
              <h2><em>Your</em> Classroom</h2>
              <!-- <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div> -->
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Overall Development</h4>
              </div>
              <div class="content-hide">
                <p>The top management with quality education and one on one interaction is here</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Multiple Topics</h4>
              </div>
              <div class="content-hide">
                <p>What is better than being able to choose from a large stash of various topics</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section3">Details</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Best Problemsetters</h4>
              </div>
              <div class="content-hide">
                <p>The best online one on one interaction with the most skilled problemsetters</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section4">Read More</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- course start -->
  <section class="section courses" data-section="section3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="{% static 'proj1/images/phy.jpg'%}" alt="Course #1">
            <div class="down-content">
              <h4>Basic<br>Physics</h4>
              <!-- <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/nikola.jpg'%}" alt="Author 1">
              </div>

            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/phy.jpg'%}" alt="Course #2">
            <div class="down-content">
              <h4>Mediocre<br>Physics</h4>
              <!-- <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/nikola.jpg'%}" alt="Author 2">
              </div>
      
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/phy.jpg'%}" alt="Course #3">
            <div class="down-content">
              <h4>Advanced<br>Physics</h4>
              <!-- <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/nikola.jpg'%}" alt="Author 3">
              </div>
             
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/chem.jpg'%}" alt="Course #4">
            <div class="down-content">
              <h4>Basic<br>Chemistry</h4>
              <!-- <p>Download free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/walterwhite.jpg'%}" alt="Author 4">
              </div>
            
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/chem.jpg'%}" alt="">
            <div class="down-content">
              <h4>Mediocre<br>Chemistry</h4>
              <!-- <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/walterwhite.jpg'%}" alt="">
              </div>
            
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/chem.jpg'%}" alt="">
            <div class="down-content">
              <h4>Advanced<br>Chemistry</h4>
              <!-- <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/walterwhite.jpg'%}" alt="">
              </div>
             
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/logic.jpg'%}" alt="">
            <div class="down-content">
              <h4>Basic<br>Logical Ability</h4>
              <!-- <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/tourist.jpg'%}" alt="">
              </div>
            
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/logic.jpg'%}" alt="">
            <div class="down-content">
              <h4>Advanced<br>Logical Ability</h4>
              <!-- <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/tourist.jpg'%}" alt="">
              </div>
          
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/math.jpg'%}" alt="">
            <div class="down-content">
              <h4>Basic<br>Mathematics</h4>
              <!-- <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/ramanujan.jpg'%}" alt="">
              </div>
              
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/math.jpg'%}" alt="">
            <div class="down-content">
              <h4>Mediocre<br>Mathematics</h4>
              <!-- <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/ramanujan.jpg'%}" alt="">
              </div>
            
            </div>
          </div>
          <div class="item">
            <img src="{% static 'proj1/images/math.jpg'%}" alt="">
            <div class="down-content">
              <h4>Advanced<br>Mathematics</h4>
              <!-- <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p> -->
              <div class="author-image">
                <img src="{% static 'proj1/images/ramanujan.jpg'%}" alt="">
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course end -->
  
<!-- why choose us start -->
<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div id='tabs'>
          <ul>
            <li><a href='#tabs-1'>Best Testing</a></li>
            <li><a href='#tabs-2'>Top Management</a></li>
            <li><a href='#tabs-3'>Quality Meeting</a></li>
          </ul>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-md-6">
                  <img src="{% static 'proj1/images/thinking.PNG'%}" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Best Testing</h4>
                  <p>Equizzy is a dynamic online education platform designed to empower learners of all levels. We offer engaging courses spanning a diverse array of subjects, delivered by expert instructors. Our interactive approach fosters active learning, critical thinking, and skill development. Join us to unlock your full educational potential and achieve your goals.Thank you.</p>
                </div>
              </div>
            </article>
            <article id='tabs-2'>
              <div class="row">
                <div class="col-md-6">
                  <img src="{% static 'proj1/images/management.PNG'%}" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Top Level</h4>
                  <p>Equizzy's top-level management comprises a seasoned team of visionary leaders. They bring a wealth of experience and expertise to drive our mission of revolutionizing online education. Our leadership fosters innovation, promotes a culture of excellence, and ensures the highest quality of service for both our learners and instructors.</p>
                  </div>
              </div>
            </article>
            <article id='tabs-3'>
              <div class="row">
                <div class="col-md-6">
                  <img src="{% static 'proj1/images/oneonone.PNG'%}" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Quality Meeting</h4>
                  <p>Equizzy's commitment to quality is exemplified through our regular quality meetings. These sessions serve as a collaborative forum for our dedicated team to assess, refine, and enhance our educational offerings. We meticulously review course content, instructor performance, and learner feedback, ensuring that we maintain the highest standards in online education and continuously improve the learning experience.</p>
                  </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why choose us end -->
<!-- Instructors start -->
<section class="section why-us" data-section="section4">
  <div class="container">
    <!-- <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
        <h1 class="mb-5">Expert Instructors</h1>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Expert Instructors</h2>
        </div>
      </div>
    </div>

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" style="border-radius:5px;" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'proj1/images/nikola.jpg'%}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Nikola<br> Tesla</h5>
                    <small>Edison's Father</small>
                    <br>
                    <small>Physics Head</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" style="border-radius:5px;" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'proj1/images/walterwhite.jpg'%}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Walter<br> White</h5>
                    <small>Say My Name</small>
                    <br>
                    <small>Chemistry Head</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" style="border-radius:5px;" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'proj1/images/tourist.jpg'%}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/GennadyKorotkevich/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href="https://twitter.com/que_tourist"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href="https://www.instagram.com/gennady.korotkevich/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Gennady Korotkevich</h5>
                    <small>Tourist</small>
                    <br>
                    <small>Logical Ability Head</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" style="border-radius:5px;" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'proj1/images/ramanujan.jpg'%}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Srinivasa Ramanujan</h5>
                    <small>Legendary Mathematician</small>
                    <br>
                    <small>Mathematics Head</small>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Instructors end -->





  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{%static 'proj1/jquery.min.js' %}"></script>
  <script src="{%static 'proj1/bootstrap.min.js' %}"></script>

  <script src="{%static 'proj1/isotope.min.js' %}"></script>
  <script src="{%static 'proj1/owl-carousel.js' %}"></script>
  <script src="{%static 'proj1/lightbox.js' %}"></script>
  <script src="{%static 'proj1/tabs.js' %}"></script>
  <script src="{%static 'proj1/video.js' %}"></script>
  <script src="{%static 'proj1/slick-slider.js' %}"></script>
  <script src="{%static 'proj1/custom.js' %}"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
        if($(e.target).hasClass('external')) {
          return;
        }
        e.preventDefault();
        $('#menu').removeClass('active');
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>
</body>
</html>